
/* ==== Google font ==== */
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Sue+Ellen+Francisco" rel="stylesheet">
/* --- pe-icon-7-stroke --- */


body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;	
    font-weight: 300;
    color: #666;
    background: #fff;
	font-size: 16px;
    line-height: 1.6em;
}

html {
    width: 100%;
    height: 100%;
}

label,
input,
button,
select,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: inherit;
  line-height: inherit;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}


/* ===========
layout
============= */
#wrapper.boxed {
	margin: 0 auto;
	background-color: #fff;
	
}

/* ===========
Typo
============= */

h1 {
	font-size: 38px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 28px;
}
h5 {
	font-size: 24px;
}
h6 {
	font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
	color: #444;
	line-height: 1.1em;
}

a {
    color: #666;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

.light {
    font-weight: 400;
}





.divider-short {
	display: block;
	width: 100%;
	height: 1px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 5px;
	background: #aaa;
}


/* ===========================
--- fav
============================ */

.recent {
	width:100%;
	position:relative;
}

.recent-content {
	padding:60px 0 60px;
}


.recent .buttons a.btn {
	margin: 10px;
	padding: 10px 30px;
}

.recent .buttons a.btn small {
	text-transform: none;
	font-weight: 100;

}

.recent-content h2 {
	margin-bottom: 10px;
}